<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer page </title>
</head>

<body>


    <footer class=" bg-dark text-white pt-5 pb-4">

        <div class="container text-center text-md-left">

            <div class="row text-center text-md-left">

                <div class=" col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning"> अमृतमूल्य Coffee Shope </h5>
                    <p>
                    <p style="font-size: 25px;">अमृतमूल्य</p> We've Got Your <br> Morning Covered.!</p>

                </div>
                <div class="col-md-2 col-lg-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning"> Products</h5>
                    <p>
                        <a href="#" class="text-white" style="text-decoration:none;">Mocha.</a>
                    </p>

                    <p>
                        <a href="#" class="text-white" style="text-decoration:none;">Espresso.</a>
                    </p>

                    <p>
                        <a href="#" class="text-white" style="text-decoration:none;">Americano.</a>
                    </p>

                    <p>
                        <a href="#" class="text-white" style="text-decoration:none;">Cappuccino.</a>
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Support</h5>

                    <p>
                        <a href="#" class="text-white" style="text-decoration:none;">
                            Track Your FAQ</a>
                    </p>

                    <p>
                        <a href="#" class="text-white" style="text-decoration:none;">Shoping & Delivery</a>
                    </p>

                    <p>
                        <a href="#" class="text-white" style="text-decoration:none;">Return Policy</a>
                    </p>

                    <p>
                        <a href="#" class="text-white" style="text-decoration:none;">Terms Of Use</a>
                    </p>
                    <p>
                        <a href="#" class="text-white" style="text-decoration:none;">Privecy Policy</a>
                    </p>
                    <p>
                        <a href="#" class="text-white" style="text-decoration:none;">COVID-19 Policy</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">contact</h5>
                    <p>
                        <i class="fas fa-home mr-3"></i> Address <br> Near Mc-Donald, shop no.4 अमृतमूल्य Coffee Shope.
                        Hinjewadi, Pune.
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> E-mail gururajbira1996@gmail.com
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> Number <br> +91 - 8329894359
                    </p>
                </div>
                <hr class="mb-4">

                <div class="row align-items-center">
                    <div class="col-md-7 col-lg-8">
                        <p>
                            &copy;2023 All Rights Reserved By अमृतमूल्य Coffee Shope.
                            <a href="#" style="text-decoration:none;">
                                <strong class="">The Providers</strong>
                            </a>
                        </p>
                    </div>
                    <div class="col-md col-lg-4">
                        <div class="text-center text-md-right">
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">
                                    <a href="#" class="btn-floating btn-sm text-white" style="font-size: 40px;"><i
                                            class="fab fa-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="btn-floating btn-sm text-white" style="font-size: 40px;"><i
                                            class="fab fa-whatsapp"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="btn-floating btn-sm text-white" style="font-size: 40px;"><i
                                            class="fab fa-instagram"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="btn-floating btn-sm text-white" style="font-size: 40px;"><i
                                            class="fab fa-youtube"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

    </footer>




</body>

</html>