<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<style>
     .about-para p{

        line-height: 25px;
     }  
</style>

<body>
    {{> Navbar}}

            <h1 class="text-center mt-3">No. 1 Website Design Platform</h1>
            <h4 class="text-center mt-3">Successfully Delivered 5000+ Websites</h4>
            
            <div class="container mt-5 about-para">
                <p>Modern era is digital era. Everything is happening over the web. If you, too, want to be a part of this digital revolution, we at Apex Cord can help you in all possible ways. The best part is we can help you very much within your budget constraint. For example, suppose you are looking for a quality website at a nominal cost, we can provide you the best low cost website design in India. Not just web designing, we can help you with a whole range of digital services you want at the best possible budget.</p>
            </div>

    
        <div class="container mt-5">
            <div class="row gy-4">
                <div class="col-md-4">
                    <img src="https://apexcord.in/wp-content/uploads/2021/06/Web-design-1.jpg" class="img-fluid" alt="...">
                </div>
                
                <div class="col-md-4">

                <img src="https://apexcord.in/wp-content/uploads/2021/06/digitalmarketing.jpg" class="img-fluid" alt="...">
                </div>

                <div class="col-md-4">
                <img src="https://apexcord.in/wp-content/uploads/2021/06/app-development.jpg" class="img-fluid" alt="...">

                </div>

            </div>
        </div><hr>

        <div class="container mt-5">
            <div class="row gy-4">
                <div class="col-md-6">
                        <h4>WELCOME TO</h4>
                        <h1>APEXCORD</h1>
                        <p>If you want to rule the digital arena, we at Apexcord can help you achieve the same.

Apex Cord is a leading name in the digital service arena.  Having served thousands of reckoned clients in India, as well as across the globe, we can be the reliable service provider you are looking for. The distinguishing part about us at Apex Cord has been our ability to serve clients within their budget constraints. No matter whether you are looking for low cost website design, low cost web development in India, digital marketing, eCommerce development, or angular projects, we can be the one-stop hub for you.</p>
                </div>

                <div class="col-md-2 gy-5">
                <img src="https://apexcord.in/wp-content/uploads/2021/06/about_img-1-1.jpeg" class="img-fluid" alt="...">
                    
                </div>

                
                <div class="col-md-4">
                <img src="https://apexcord.in/wp-content/uploads/2021/06/about_img-2-1.jpeg" class="img-fluid" alt="...">
                    
                </div>
            </div>
            <p class="mt-3">The secret behind us being distinguishing in terms of serving clients at such a lower cost is pretty simple; we have a massive team of experts, and we enrich them with high-end tools. Our in-house team of experts has the knack of delivering low cost website development in India without compromising qualitative aspects. In this context, they bank on their years of experience to figure out the most crucial elements to invest in and the unwanted elements to be kept aside.</p>
        </div>
    
            
</body>

</html>