<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services page </title>
</head>

<style>
    .services-img img {
        height: 300px;
    }
</style>

<body>
    {{> Navbar}}
    <h1 class="text-center mt-4">A few things we’re great at</h1>

    <div class="container mt-5 text-center services-grid">
        <div class="row gy-4">

            <div class="col-md-4">
                <div class="card services-img" style="width: 21rem;">
                    <img src="https://apexcord.in/wp-content/uploads/2021/06/ang.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>ANGULAR PROJECT</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.repellat tempore dolores, possimus distinctio ducimus vero dignissimos
                            magnam esse provident alias placeat dolorum quidem!tempore dolores, possimus distinctio
                            ducimus vero dignissimos magnam esse provident alias placeat dolorum quidem!</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card services-img" style="width: 21rem;">
                    <img src="https://apexcord.in/wp-content/uploads/2021/06/phpimg.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>PHP PROJECT</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.repellat tempore dolores, possimus distinctio ducimus vero dignissimos
                            magnam esse provident alias placeat dolorum quidem!tempore dolores, possimus distinctio
                            ducimus vero dignissimos magnam esse provident alias placeat dolorum quidem!</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card services-img" style="width: 21rem;">
                    <img src="https://apexcord.in/wp-content/uploads/2021/06/resturant.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h3>RESTURANT PROJECT</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.repellat tempore dolores, possimus distinctio ducimus vero dignissimos
                            magnam esse provident alias placeat dolorum quidem!tempore dolores, possimus distinctio
                            ducimus vero dignissimos magnam esse provident alias placeat dolorum quidem!</p>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="card services-img" style="width: 21rem;">
                    <img src="https://apexcord.in/wp-content/uploads/2021/06/realestate.jpg" class="card-img-top"
                        alt="img">
                    <div class="card-body">
                        <h3>REAL ESTATE PROJECTS</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.repellat tempore dolores, possimus distinctio ducimus vero dignissimos
                            magnam esse provident alias placeat dolorum quidem!tempore dolores, possimus distinctio
                            ducimus vero dignissimos magnam esse provident alias placeat dolorum quidem!</p>
                    </div>
                </div>
            </div>


        </div>
    </div>



                    


</body>

</html>